// -------------------------------
// HEADER
// -------------------------------

.header {
  margin-bottom: 2rem;
}

@keyframes logoColors {
  from {
    fill: $primary-color;
  }

  25% {
    fill: #F30D4C;
  }

  50% {
    fill: #2FC0D6;
  }

  75% {
    fill: #FA6978;
  }

  to {
    fill: #F88962;
  }
}

.header__logo {
  display: inline-block;
  margin-bottom: .8rem;
  svg {
    animation-duration: 90s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: logoColors;
    fill: $primary-color;
    width: 110px;
  }
}

.navigation {
  display: flex;
  li {
    font-size: .85rem;
    + li {
      margin-left: 1.2rem;
    }
    &.current {
      a {
        border-bottom-color: $primary-color;
        color: $secondary-color;
        font-weight: 600;
      }
    }
  }
  a {
    border-bottom: 2px solid transparent;
    color: lighten($text-color, 15%);
    padding-bottom: 2px;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
}
