// -------------------------------
// MAIN CONTENT
// -------------------------------

.main--grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 'image'
  'content';
  @media #{$medium-up} {
    grid-gap: 2rem;
    grid-template-areas: 'content image';
    grid-template-columns: minmax(300px, 575px) minmax(330px, 450px);
  }

  .page {
    grid-area: content;
  }

  .page__image {
    grid-area: image;
    max-width: 100%;
  }
}

.photo-grid {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.photo-grid__item {
  float: left;
  padding: 3px;
  img {
    display: block;
    max-width: 100%;
  }
}

.photo-grid__item--size,
.photo-grid__item {
  width: 100%;

  @media #{$medium-up} {
    width: 33.333333333%;
  }

  @media #{$xlarge-up} {
    width: 25%;
  }
}
